@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;

.btn{
    outline:none;
    border:none;
    background-color: transparent;
    padding:em(14) em(24);
    font-size: rem(14);
    // line-height: 1.5;
    font-family: $ff-dm-regular;
    @include radius(24px);
    color:$clr-white;
    border:1px solid $clr-white;
    filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.16));
    -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.16));
    cursor: pointer;
    @include transition(all, 0.3s, ease);
    @include breakpoint-sm{
        font-size: rem(16);
    }

    &--tabs{
        font-size: rem(14);
        font-family: $ff-secondary;
        border:1px solid #707070;
        color:#5D5D5D;
        &:hover{
            background-color: $clr-secondary;
            color:$clr-white;
            border-color:$clr-secondary;
        }
    }
}

.btn--primary{
    @extend .btn;
    background-color: $clr-secondary;
    &:hover{
        background-color: $clr-primary;
    }
}

.btn--secondary{
    @extend .btn;
    background-color: $clr-primary;
    &:hover{
        background-color: $clr-secondary;
    }
}

// .btn--white{
//     @extend .btn;
//     background-color: $clr-tertiary;
//     color:$clr-primary;
//     border-color: $clr-grey;
// }

.btn--outline{
    @extend .btn;
    border:1px solid $clr-primary;
    color:$clr-primary;
    background-color: $clr-white;
    &:hover{
        color:$clr-white;
        background-color: $clr-primary;
    }
}

// .btn--transparent{
//     @extend .btn;
//     border:none;

// }


.btn--wrapper{
    display: flex;
    align-items: center;
    gap:rem(14);
    @include breakpoint-sm{
        gap:rem(16);
    }
}