@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;



.sec-h-left{
    max-width: 45rem;
}

.section-wrapper{
    max-width:42rem;
    margin-inline:auto;
}

.sec-p{
    max-width: 38rem;
}

.section-left-header{
    max-width: 25rem;
}

.testimonials-container{
    max-width: 75rem;
    margin-inline:auto;
}

.overlay{
    position:fixed;
    inset:0;
    left: -100%;
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.75);
    z-index: 10;
    &.show{
        left: 0;
    }
}


.link{
    font-size: rem(14);
    line-height: 1.43;
    text-decoration: underline;
    color:$clr-secondary;
    &:hover{
        color:$clr-primary;
    }
}

.link-hover{
    &:hover{
        color:$clr-secondary;
    }
}

.icon-box-wrapper{
    display: flex;
    gap:rem(20);
    @include breakpoint-xl{
        gap:rem(24)
    }
    @include breakpoint-xxl{
        gap:rem(28)
    }

    .icon-box{
        // flex-shrink: 0;
        @include breakpoint-xxl{
            flex-shrink: 0;
        }
    }
}


.btn-wrapper{
    display: flex;
    align-items: center;
    gap:rem(14);
    @include breakpoint-sm{
        gap:rem(16);
    }
}

.tabs{
    &__container{
        // max-width: 60rem;  
        width: min(100%, rem(960));
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap:rem(16);
        @include breakpoint-sm{
            gap:rem(20);
        }
        @include breakpoint-md{
            gap:rem(24);
        }
        @include breakpoint-lg{
            gap:rem(28);
        }
        @include breakpoint-xl{
            gap:rem(32);
        }
        @include breakpoint-xxl{
            gap:rem(36);
        }
    }
}

.blog-figure{
    position: relative;
    display: inline-flex;
    span{
        position: absolute;
        right: 0;
    }

}


.grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap:rem(64);
    @include breakpoint-md{
        grid-template-columns: repeat(2, 1fr); 
        grid-gap:rem(32);
        row-gap:rem(64);
    }
    @include breakpoint-lg{
        grid-template-columns: repeat(3, 1fr); 
    }
    @include breakpoint-xl{
        grid-template-columns: repeat(4, 1fr); 
    }
}

.filter-projects{
    display: none;
}

.filter-projects.show{
    display: block;
}