$clr-primary:#004F92; 
$clr-secondary:#E3B505; 
$clr-tertiary:#EEF4F9; 
// $clr-quartery:#27472C; 

$clr-white:#FFFFFF;
$clr-black:#202020;

$clr-gray:#707070; 
$clr-gray-1:#BCBCBC; 
// $clr-light-gray:#F6F5F7; 