@use "../abstract/breakpoints" as *;
@use "../abstract/colors" as *;
@use "../abstract/fonts" as *;
@use "../abstract/functions" as *;
@use "../abstract/mixins" as *;


.whats-included{
    &__title{
        display: inline-flex;
        padding:em(12) em(22);
        font-size: rem(14);
        line-height: 1.5;
        font-family: $ff-secondary;;
        @include radius(24px);
        color:#535353;
        border:1px solid #979797;
        background-color: $clr-tertiary;
    }
    &__list{
        li{
            display: flex;
            align-items: center;
            gap:rem(16);
            padding-block:em(18);
            @include breakpoint-lg{
                padding-block:em(20);
            }
            &:not(:last-child){
                border-bottom: 1px solid #CFCFCF;
            }

            span{
                font-size: rem(20);
                line-height: 2.33;
                font-family: $ff-primary;
                @include breakpoint-md{
                    font-size: rem(22);
                }
                @include breakpoint-xl{
                    font-size: rem(24);
                }
            }
        }
    }
    &__wrapper{
        max-width: 35rem;
    }
}